@CHARSET "UTF-8";

body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    margin-bottom: 0;
    border-radius 0;
}

.navbar-brand {
    letter-spacing: 2px;
}

.navbar-inverse {
    background-color: #3498DB;
    border-color: #2980B9;
}

.navbar-inverse .navbar-nav > li {
    border-left: 1px solid #2980B9;
}

.navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
    color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    font-weight: 500;
}

.navbar-inverse .navbar-brand {
    font-weight: 700;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
    background-color: #2980B9;
}

.navbar-inverse .navbar-toggle {
    border-color: #2980B9;
}

.navbar-inverse .navbar-toggle:hover {
    background-color: #2980B9;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #2980B9;
}

.uppercase {
    text-transform: uppercase;
}

.navbar ul {
    padding-top: 15px;
}

.navbar li {
    display: inline-block;
    margin-right: 10px;
    color: white;
}
.navbar a {
    color: white;
}

.stripe {
    background-color: #f9f9f9;
}

.navbar {
	border-radius: 0 !important;
}

#calendar table { width: 100%; }
#calendar th { text-align: center; }
#calendar td {
  color: grey;
  position: relative;
  height: 45px;
  vertical-align: top;
  min-width: 220px;
  position: relative;
  padding: 0;
  margin: 0;
}

#calendar .today {
	background-color: rgb(175,218,243);
}

#calendar .hour {
	font-size: 80%;
}

#calendar .reservation {
	border: 1px solid grey;
	width: 110px;
	height: 45px;
	display: inline-block;
	margin: 0;
	padding: 0;
	position: absolute;
	overflow: hidden;
	font-size: 70%;
	cursor: pointer;
}

#calendar .reservation:hover {
	border: 1px solid black;
	z-index: 100;
}

#calendar .addButton {
	position: absolute;
	top: 0px;
	z-index: 1;
	width: 100%;
	font-size: 80%;
	margin: 0;
	margin-left: 5px;
	padding: 1px;
	cursor: pointer;
}

#calendar .addButton:hover {
	z-index: 100;
}

#calendar .reservation_0 { left: 10px; z-index: 2; }
#calendar .reservation_1 { left: 60px; z-index: 3; }
#calendar .reservation_2 { left: 90px; z-index: 4; }
#calendar .reservation_3 { left: 110px; z-index: 5; }

#calendar .reservation_4 { left: 20px; z-index: 6; top: 15px; }
#calendar .reservation_5 { left: 70px; z-index: 7; top: 15px; }
#calendar .reservation_6 { left: 100px; z-index: 8; top: 15px; }
#calendar .reservation_7 { left: 120px; z-index: 9; top: 15px; }

#calendar .reservation p { margin: 0; padding: 0; line-height: 1; }
#calendar .reservation .title { font-size: 110%; }
#calendar .reservation .name { color: rgb(100,100,255); }
#calendar .reservation .person { font-size: 90%; } 

label { margin-right: 5px; }

#singleReservation, #reservationAdd {
  position: fixed;
  width: 600px;
  height: auto;
  top: 50%;
  left: 50%;
  margin-left: -300px; /* Negative half of width. */
  margin-top: -200px;  /* Negative half of height. */
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 10px;
  background-color: rgb(255, 255, 200);
  z-index: 10000;
}

#reservationAdd label {
  width: 200px;
}

#reservationAdd textarea { width: 100%; }

#reservationAdd table td { padding: 1px; padding-right: 15px; }

#repeatControls input { max-width: 50px; }

#openingtimes { border-spacing: 5px; border-collapse: separate; }

#openingtimes th { 
	font-variant: small-caps; 
	font-weight: normal; 
	background-color: #ddd; 
	border: 1px solid black; 
	padding: 4px;
}

#openingtimes textarea, #openingtimes td.days { 
	font-family: monospace !important; 
	font-size: 12px !important; 
	overflow:hidden !important;
	border-style: none;
}

#openingtimes textarea { background-color: rgb(220,240,255); }
#openingtimes textarea.error { background-color: rgb(250,210,215); }

#openingtimes td, #openingtimes th { vertical-align: top; }
